@page "/pdf"

<PageTitle>PDF</PageTitle>

<h1>PDF</h1>

<div style="height: 100%;overflow: hidden;">
    <iframe src="pdf/watermarking.pdf" width="100%" height="100%" frameborder="0"
        style="margin: 0; padding: 0;"></iframe>
</div>
